rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return isAuthenticated() && userId == request.auth.uid;
    }

    match /errorLogs/{document=**} {
      allow create: if isAuthenticated();
    }

    match /users/{userId}/{collections=**} {
      allow get, list, create, update : if isUserAuthenticated(userId);
    }
  }
}
